* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: auto;
	max-height: auto;
	font-size: 62.5%; // 10px
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: $black;
	letter-spacing: -.02rem;
	font-family: 'Roboto';
}

html,
body {
	position: relative;
	height: 100%;
	background: $tan;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
