.gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 3rem;
	list-style: none;

	li {
		width: 20% !important;
		margin: 1.8rem;

		img {
			width: 100%;
			height: auto;
			border-radius: .4rem;
		}
	}
}
